In [22]:
DATA_PATH = "../data/raw/car_price.csv"
EXPORT_PATH = "../data/processed/00_preprocessed.pkl"

In [2]:
# load packages
import pandas as pd
import numpy as np

pd.options.display.max_columns=100

## Reading data

In [3]:
raw_df = pd.read_csv(DATA_PATH)
df = raw_df.copy()

## Modify columns names

In [4]:
# First we change the column names
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.columns.tolist()

['make',
 'model',
 'year',
 'engine_fuel_type',
 'engine_hp',
 'engine_cylinders',
 'transmission_type',
 'driven_wheels',
 'number_of_doors',
 'market_category',
 'vehicle_size',
 'vehicle_style',
 'highway_mpg',
 'city_mpg',
 'popularity',
 'msrp']

## replace the space in values with '_'

In [26]:
string_cols = list(df.dtypes[df.dtypes == "object"].index)
print(string_cols)
print("=============================")
for col in string_cols:
    df[col] = df[col].str.lower().str.replace(" ", "_")
    print(col, "====> Uniques=", df[col].nunique())
    print(df[col].unique()[:5])
    print("-------------------------")

['make', 'model', 'engine_fuel_type', 'transmission_type', 'driven_wheels', 'market_category', 'vehicle_size', 'vehicle_style']
=============================
make ====> Uniques= 48
['bmw' 'audi' 'fiat' 'mercedes-benz' 'chrysler']
-------------------------
model ====> Uniques= 914
['1_series_m' '1_series' '100' '124_spider' '190-class']
-------------------------
engine_fuel_type ====> Uniques= 10
['premium_unleaded_(required)' 'regular_unleaded'
 'premium_unleaded_(recommended)' 'flex-fuel_(unleaded/e85)' 'diesel']
-------------------------
transmission_type ====> Uniques= 5
['manual' 'automatic' 'automated_manual' 'direct_drive' 'unknown']
-------------------------
driven_wheels ====> Uniques= 4
['rear_wheel_drive' 'front_wheel_drive' 'all_wheel_drive'
 'four_wheel_drive']
-------------------------
market_category ====> Uniques= 71
['factory_tuner,luxury,high-performance' 'luxury,performance'
 'luxury,high-performance' 'luxury' 'performance']
-------------------------
vehicle_size ====> Uniques= 3
['compact' 'midsize' 'large']
-------------------------
vehicle_style ====> Uniques= 16
['coupe' 'convertible' 'sedan' 'wagon' '4dr_hatchback']
-------------------------

## Quick sanity check:

In [7]:
print(raw_df.columns)
print(df.columns)

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')
Index(['make', 'model', 'year', 'engine_fuel_type', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'driven_wheels',
       'number_of_doors', 'market_category', 'vehicle_size', 'vehicle_style',
       'highway_mpg', 'city_mpg', 'popularity', 'msrp'],
      dtype='object')

In [21]:
i = np.random.randint(0, raw_df.shape[0])
print("raw number", i, "\n------------------------------------------")
print(raw_df.iloc[i])
print("------------------------------------------")
print(df.iloc[i])

raw number 7872
------------------------------------------
Make                                    Infiniti
Model                                        Q70
Year                                        2016
Engine Fuel Type     premium unleaded (required)
Engine HP                                  330.0
Engine Cylinders                             6.0
Transmission Type                      AUTOMATIC
Driven_Wheels                   rear wheel drive
Number of Doors                              4.0
Market Category               Luxury,Performance
Vehicle Size                               Large
Vehicle Style                              Sedan
highway MPG                                   26
city mpg                                      18
Popularity                                   190
MSRP                                       49850
Name: 7872, dtype: object
------------------------------------------
make                                    infiniti
model                                        q70
year                                        2016
engine_fuel_type     premium_unleaded_(required)
engine_hp                                  330.0
engine_cylinders                             6.0
transmission_type                      automatic
driven_wheels                   rear_wheel_drive
number_of_doors                              4.0
market_category               luxury,performance
vehicle_size                               large
vehicle_style                              sedan
highway_mpg                                   26
city_mpg                                      18
popularity                                   190
msrp                                       49850
Name: 7872, dtype: object

___
## Car Price Range:
**We can see that the MSRP (car price) is somewhat has a large range se we can scale it with a log exponentiation:**

## Export DataFrame into pickle file

In [24]:
df.to_pickle(EXPORT_PATH)