In [1]:
DATA_PATH = "../data/raw/Telco-Customer-Churn.csv"
EXPORT_PATH = "../data/processed/00_preprocessed.pkl"

GENDER_DIC = {'female': 0.0, 'male': 1.0}
BINARY_DIC = {'no': 0.0, 'yes': 1.0}
INTERNET_DIC = {'no': 0.0, 'dsl':1.0, 'fiber_optic': 2.0}
NET_SERVICES_DIC = {'no_internet_service': 0.0, 'no': 1.0,  'yes':2.0}
MULTLINE_DIC = {'no_phone_service': 0.0, 'no': 1.0, 'yes': 2.0}
CONTRACT_DIC = {'month-to-month': 0.0, 'one_year':1.0, 'two_year': 2.0}
PAYMENT_DIC = {'electronic_check': 0.0, 'mailed_check': 1.0, 
               'bank_transfer_(automatic)': 2.0, 
               'credit_card_(automatic)': 3.0}

In [2]:
# Load packages
import pandas as pd

pd.options.display.max_columns=100

___
## Read data

In [3]:
df = pd.read_csv(DATA_PATH)

___
#### Changing the columns names and vlaues to be more consistent

In [4]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
print(df.columns.tolist())

['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure', 'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod', 'monthlycharges', 'totalcharges', 'churn']

In [5]:
string_cols = list(df.dtypes[df.dtypes == "object"].index)
print(string_cols)
print("===========================")
for col in string_cols:
    df[col] = df[col].str.lower().str.replace(' ', '_')
    print(col, "=====> Uniques=", df[col].nunique())
    print(df[col].unique()[:5])
    print("---------------------")

['customerid', 'gender', 'partner', 'dependents', 'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod', 'totalcharges', 'churn']
===========================
customerid =====> Uniques= 7043
['7590-vhveg' '5575-gnvde' '3668-qpybk' '7795-cfocw' '9237-hqitu']
---------------------
gender =====> Uniques= 2
['female' 'male']
---------------------
partner =====> Uniques= 2
['yes' 'no']
---------------------
dependents =====> Uniques= 2
['no' 'yes']
---------------------
phoneservice =====> Uniques= 2
['no' 'yes']
---------------------
multiplelines =====> Uniques= 3
['no_phone_service' 'no' 'yes']
---------------------
internetservice =====> Uniques= 3
['dsl' 'fiber_optic' 'no']
---------------------
onlinesecurity =====> Uniques= 3
['no' 'yes' 'no_internet_service']
---------------------
onlinebackup =====> Uniques= 3
['yes' 'no' 'no_internet_service']
---------------------
deviceprotection =====> Uniques= 3
['no' 'yes' 'no_internet_service']
---------------------
techsupport =====> Uniques= 3
['no' 'yes' 'no_internet_service']
---------------------
streamingtv =====> Uniques= 3
['no' 'yes' 'no_internet_service']
---------------------
streamingmovies =====> Uniques= 3
['no' 'yes' 'no_internet_service']
---------------------
contract =====> Uniques= 3
['month-to-month' 'one_year' 'two_year']
---------------------
paperlessbilling =====> Uniques= 2
['yes' 'no']
---------------------
paymentmethod =====> Uniques= 4
['electronic_check' 'mailed_check' 'bank_transfer_(automatic)'
 'credit_card_(automatic)']
---------------------
totalcharges =====> Uniques= 6531
['29.85' '1889.5' '108.15' '1840.75' '151.65']
---------------------
churn =====> Uniques= 2
['no' 'yes']
---------------------

---
### Change the 'Totalcharge' dtype to float64
**We found an error telling us there are some values which are not numerical values so we will change anyway**

In [6]:
df.totalcharges = pd.to_numeric(df['totalcharges'], errors='coerce')

In [7]:
df[df['totalcharges'].isnull()][['customerid', 'totalcharges']]

      customerid  totalcharges
488   4472-lvygi           NaN
753   3115-czmzd           NaN
936   5709-lvoeq           NaN
1082  4367-nuyao           NaN
1340  1371-dwpaz           NaN
3331  7644-omvmy           NaN
3826  3213-vvolg           NaN
4380  2520-sgtta           NaN
5218  2923-arzlg           NaN
6670  4075-wkniu           NaN
6754  2775-sefee           NaN

In [8]:
# We will fill these values with the mean of the numerical column
print(df['totalcharges'].mean())
df['totalcharges'].fillna(df['totalcharges'].mean(), inplace=True)

2283.3004408418697

In [9]:
df['totalcharges'].isnull().sum()

0

___
## Encodeing catigorical values into numerics

In [10]:
# Change gender female/male into 0,1 values
df['gender'].replace(GENDER_DIC, inplace=True)

In [11]:
# Change yes/no columns with 0,1 values
binary_cols = ['partner', 'dependents', 'phoneservice', 'paperlessbilling', 'churn']
for col in binary_cols:
    df[col].replace(BINARY_DIC, inplace=True)

In [12]:
df['multiplelines'].replace(MULTLINE_DIC, inplace=True)

In [13]:
df['internetservice'].replace(INTERNET_DIC, inplace=True)

In [14]:
net_cols = ['onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies']
for col in net_cols:
    df[col].replace(NET_SERVICES_DIC, inplace=True)

In [15]:
df['contract'].replace(CONTRACT_DIC, inplace=True)

In [16]:
df['paymentmethod'].replace(PAYMENT_DIC, inplace=True)

**Quick sanity check**

In [17]:
df.sample(1).iloc[0]

customerid          2612-rridn
gender                     1.0
seniorcitizen                0
partner                    0.0
dependents                 0.0
tenure                       4
phoneservice               1.0
multiplelines              1.0
internetservice            2.0
onlinesecurity             1.0
onlinebackup               1.0
deviceprotection           1.0
techsupport                1.0
streamingtv                2.0
streamingmovies            1.0
contract                   0.0
paperlessbilling           1.0
paymentmethod              0.0
monthlycharges            81.0
totalcharges            340.85
churn                      1.0
Name: 4946, dtype: object

In [18]:
# Check the 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   object
 1   gender            7043 non-null   float64
 2   seniorcitizen     7043 non-null   int64
 3   partner           7043 non-null   float64
 4   dependents        7043 non-null   float64
 5   tenure            7043 non-null   int64
 6   phoneservice      7043 non-null   float64
 7   multiplelines     7043 non-null   float64
 8   internetservice   7043 non-null   float64
 9   onlinesecurity    7043 non-null   float64
 10  onlinebackup      7043 non-null   float64
 11  deviceprotection  7043 non-null   float64
 12  techsupport       7043 non-null   float64
 13  streamingtv       7043 non-null   float64
 14  streamingmovies   7043 non-null   float64
 15  contract          7043 non-null   float64
 16  paperlessbilling  7043 non-null   float64
 17  paymentmethod     7043 non-null   float64
 18  monthlycharges    7043 non-null   float64
 19  totalcharges      7043 non-null   float64
 20  churn             7043 non-null   float64
dtypes: float64(18), int64(2), object(1)
memory usage: 1.1+ MB

___
## Export data

In [19]:
df.to_pickle(EXPORT_PATH)